* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Rubik';
    font-size: 16px;

}

.nav-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 46px;
    width: 100%;
}

.nav-logo {
    display: flex;
    height: 36px;
    width: 148px;
    left: 150px;
}

.nav-logo img {
    margin-right: 10px;
}

.nav-ul {
    display: flex;

}

.nav-ul li {
    list-style: none;
    height: 19px;
}

.nav-ul li a {
    text-decoration: none;
    margin-left: 40px;
}

.btn-1 {
    width: 100px;
    padding: 5px;
    background-color: transparent;
    border: none;
    height: 19px;
    color: #0B132A;

}

.btn-2 {
    background-color: transparent;
    border: 1px solid #F53855;
    height: 45px;
    width: 150px;
    border-radius: 50px;
    padding: 10px;

}

.main-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-content {
    margin-left: 150px;
}

.main-content h1 {
    height: 140px;
    width: 555px;
    margin-top: 206px;
    font-size: 50px;
    font-weight: 700;
    text-align: left;

}

.main-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    margin-right: 40px;


}


.main-logo {
    margin-right: 83px;
    margin-top: 179px;
}

.main-btn {
    margin-top: 50px;
    color: #ffffff;
    background-color: #F53855;
    height: 85px;
    width: 250px;
    left: 150px;
    border-radius: 10px;
    box-shadow: -4px 32px 5px -10px rgba(245, 56, 56, 0.17);
    -webkit-box-shadow: -4px 32px 5px -10px rgba(245, 56, 56, 0.17);
    -moz-box-shadow: -4px 32px 5px -10px rgba(245, 56, 56, 0.17);
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    width: 1140px;
    left: 46px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 30px;

}

.footer-1 img {
    padding-right: 5px;
    margin-left: 10px;
}

.footer-2 img {
    padding-right: 5px;
    margin-left: 10px;
}

.footer-3 img {
    padding-right: 5px;
    margin-left: 10px;
}

.subsection {
    display: flex;

}

.subsection img {
    display: flex;
    margin-top: 63px;
}



.sub-section1 h1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;


}

.sub-section1 p {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.checkboxes {
    display: flex;
    justify-content: space-between;

}